button {
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    background-color: blueviolet;
    color: white;
    transition: 1s opacity;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}


.animation {
    display: none;
    opacity: 1;
    animation: fade 1s linear;
}

.animation-text {
    display: block;
    opacity: 1;
    animation: fade-text 1s linear;
}

@keyframes fade {
    100% {
        opacity: 0;
        display: block
    }

    50% {
        opacity: 0.5;
        display: block
    }

    0% {
        opacity: 1;
        display: block
    }
}

@keyframes fade-text {
    100% {
        opacity: 1;
        display: block
    }

    50% {
        opacity: 0.5;
        display: block
    }

    0% {
        opacity: 0;
        display: block
    }
}